body {
    margin: 0px;
    font-family: "Open Sans", Calibri, sans-serif;
    background-color: #181a1b;
    color: #daa520;
    font-size: large;
}

#contactForm {
  font-size: xx-small !important;
}

#mapContainer {
    border: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
}

#map {
  margin: 0px;
  padding: 0px;
}

#joystickContainer {
    border: solid gold 5px;
    background-color: rgba(0,0,0, 0.8) ;
}

#joystick {
  padding: 15px;
}

#lblBestTravelDistance {
  color: green;
  font-weight: bolder;
  font-size: larger;
}

#lblWorstTravelDistance {
  color: red;
  font-weight: bolder;
  font-size: larger;
}

.bestScore {
  color: green;
}

.worstScore {
  color: red;
}

#btnEvolve {
  background: goldenrod;
  color:333;
  font-size: xx-large;
  border-radius: 5px;
  border: none;
}

#checkboxRandomCities {
  height: 9px;
  width: 9px;
}

#summaryHeader {
  position: sticky;
  bottom: 1px;
  left: 1px;
  /* z-index: 9999; */
}

#options {
  position: fixed;
  top: 1px;
  right: 1px;
  /* z-index: 9999; */
}

.contact-button{
  text-decoration: none;
  font-size: large;
  border: none;
  padding: 5px;
  border-radius: 10px;
  box-shadow: cornsilk;
}

#tbdLog{
  border-collapse: collapse;
  border: solid goldenrod 1px;
}

#helpSection {
  position: fixed;
  top: 1px;
  left: 1px;
}

dd {
  font-size: medium;
}

td, th {
  border:solid goldenrod 1px;
  padding: 2px 5px;
}
/* Danger zone... do not change anything from this point, ref:csstricks */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 25%;/*  Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid goldenrod;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: goldenrod;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px gold, 0px 0px 1px gold; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px gold, 0px 0px 1px gold;
    border: 1px solid #e0d9d9;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px gold, 0px 0px 1px gold;
    border: 1px solid goldenrod;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: goldenrod;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px gold, 0px 0px 1px gold;
    background: goldenrod;
    border-radius: 1.3px;
    border: 0.2px solid gold;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: goldenrod;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px gold, 0px 0px 1px gold;
    background: goldenrod; /* chrome */
    border-radius: 1.3px;
    border: 0.2px solid gold;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  /* who uses IE anymore...? sorry :) */
  input[type=range]::-ms-fill-lower {
    background: #333;
    border: 0.2px solid #333;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #333;
  }
  input[type=range]::-ms-fill-upper {
    background: #333;
    border: 0.2px solid #333;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #333;
  }